*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color:rgba(125, 125, 244, 0.432);
}

.add-product{
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.add-product button{
    position: absolute;
    right: 20px;
    text-decoration: none;
    width: 100px;
    height: 35px;
    background-color: white;
    border: 2px solid rgb(69, 69, 209);
    border-radius: 20px;
}

.add-product a{
    padding: 10px;
    text-decoration: none;
    font-size: 15px;
    color: blue;
    font-weight: bold;
}

.display-sales{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
}

table{
    width: 55%;
    border:1px solid gray;
    font-size: 20px;
    color: rgb(84, 84, 84);
}

table tr:hover{
    background-color: rgba(177, 177, 250, 0.629);
}

table tr th {
    border:1px solid black;
    height: 50px;
}

.display-sales a{
    padding: 5px 10px;
    color: rgb(69, 69, 209);
    border: 2px solid rgb(69, 69, 209);
    text-decoration: none;
    border-radius: 20px;
}

